@model ChatApp_Model.User
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link rel="stylesheet" href="~/css/Site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    @*<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-sigup100">
                @using (Html.BeginForm("Index", "SignUp", FormMethod.Post))
                {
                    <div class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                        <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                            <span class="login100-form-title">
                                Sign Up
                            </span>
                            <div class="wrap-input100 validate-input m-b-16 dis-flex" data-validate="Please enter username">
                                <input asp-for="FirstName" class="input100 m-r-10" type="text" placeholder="@Html.DisplayNameFor(i=>i.FirstName)">
                                @Html.ValidationMessageFor(i => i.FirstName)
                                <input asp-for="LastName" class="input100" type="text" placeholder="@Html.DisplayNameFor(i=>i.LastName)">

                            </div>

                            <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                                <input asp-for="UserName" class="input100" type="text" placeholder="@Html.DisplayNameFor(i=>i.UserName)">
                                @Html.ValidationMessageFor(i => i.UserName)

                                <span class="focus-input100"></span>
                            </div>

                            <div class="wrap-input100 validate-input" data-validate="Please enter password">
                                <input asp-for="Password" class="input100" type="password" placeholder="@Html.DisplayNameFor(i=>i.Password)">
                                @Html.ValidationMessageFor(i => i.Password)

                                <span class="focus-input100"></span>
                            </div>
                            <div>
                                @Html.ValidationMessage("takenUsername")
                                @Html.ValidationMessage("Exception")
                            </div>
                            
                            <div class="container-login100-form-btn">

                                <button type="submit" class="login100-form-btn m-t-50">
                                    Sign up
                                </button>
                            </div>

                            <div class="flex-col-c p-t-170 p-b-40">
                                <span class="txt1 p-b-9">
                                    Have an account?
                                </span>

                                <a class="txt3" asp-area="" asp-controller="Login" asp-action="Index">
                                    Sign in now
                                </a>
                            </div>
                        </form>
                    </div>

                }
            </div>
        </div>
    </div>


</body>

</html>